{% extends "@ParallalaxApiClient/base.html.twig" %}

{% block parallalax_apiclient_content %}

    <div class="tabContent">
        <input type="hidden" id="url_element" value="{{ path('apiclient_element_edit') }}">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group btn-group" role="group">
                    <div class="btn-group" role="group">
                        <a href="{{ path('apiclient_document_home') }}">
                            <button class="btn btn-warning btn-outline"><i class="fa fa-list"></i> documents</button>
                        </a>
                    </div>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Page {{ currentPage.num }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="page" name="page" class="form-control">
                            {% for page in document.pages %}
                                <li value="{{ page.num }}" data-id="{{ page.id }}" {{ page.id == currentPage.id ? 'class="selected"' }}>
                                    <a href="{{ path('apiclient_document_edit', {'id': app.request.attributes.get('id'), 'pageNum': page.num}) }}">Page {{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="#" class="js-configure_page">
                            <button class="btn btn-primary btn-outline"><i class="fas fa-cog fa-pulse"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page {{ currentPage.orientation is defined ? currentPage.orientation  }}">
            <div class="overflow">
                <div class="print-area" style="background-image:url(http://api.dev.bnjdev.com/uploads/{{ currentPage.background}});{{ currentPage.style }}">
                    {% for element in currentPage.elements %}
                        {% set text = (element.type == "text" and element.defaultText is defined and element.defaultText is not empty) ? element.defaultText : element.label %}

                        {% if element.before is defined and element.before is not empty %}
                            {% set text = element.before ~' '~ text %}
                        {% endif %}

                        {% if element.after is defined and element.after is not empty %}
                            {% set text = text ~' '~ element.after %}
                        {% endif %}

                        {% if element.type == 'checkbox' %}
                            {% set text = '<i class="bx bx-checkbox-square"></i>' %}
                        {% elseif element.type == 'checkbox-c' %}
                            {% set text = '<i class="bx bx-check"></i>' %}
                        {% endif %}

                        <div data-id="{{ element.id }}" style="top:{{ element.positionY }}cm;left:{{ element.positionX }}cm;{{ element.style }}" class="element {{ element.type }}">{{ text|raw|nl2br }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {{ include('@ParallalaxApiClient/document/sidebar.html.twig') }}
    </div>

    <div id="modal" class="modal fade in" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock parallalax_apiclient_content %}